<% layout('layouts/boilerplate') %>
<h1>Log In</h1>
<form action="submit">
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="password" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>
</form>